body {
  text-align: center;
  background-image: url("https://media.istockphoto.com/vectors/casino-and-poker-background-with-dark-red-colors-seamless-vector-vector-id481463580?k=6&m=481463580&s=612x612&w=0&h=NV2ojA9Hf47uMjajyXhYVOk1Qv8ZWp7K_1CwGNvjDtU=");
  background-repeat: repeat;
}

h1 {
  padding: 20px;
  font-family: 'Alfa Slab One', cursive;
  text-shadow: 0px 0px 2px red;
  font-size: 48px;
}

.spade-border {
  height: 100%;
  top: 50%;
  position: fixed;
  left: 0;
  transform: translate(-25%, -50%);
}

.club-border {
  height: 100%;
  top: 50%;
  position: fixed;
  right: 0;
  transform: translate(30%, -50%);
}
.login-screen {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 40%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
}

.form-fill {
  text-align: center;
  box-shadow: 0px 0px 3px black;
  font-family: 'Montserrat', sans-serif;
  background-color: #0A100D;
  color: #8C0000;
  border: 0px;
  font-size: 20px;
  border-radius: 10px;
  padding: 4px;
}

.landing-button {
  box-shadow: 0px 0px 3px black;
  font-family: 'Montserrat', sans-serif;
  background-color: #0A100D;
  color: #8C0000;
  border: 0px;
  font-size: 24px;
  border-radius: 10px;
  padding: 4px;
}

.disabled-button {
  color: gray;
  pointer-events: none;
}

.heads-up {
  font-family: 'Montserrat', sans-serif;
  color: #8C0000;
}

hr {
  width: 80%;
  border-color: black;
  box-shadow: 0px 0px 2px black;
}


.account-create {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 40%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
}
